.body
.App {
  margin: 30px;
  background-color: red;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  display: flex;
  justify-content: space-between;
}
input {
  padding: 8px;
  width: 70%;
  margin-left: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.error {
  color: red;
  margin-top: 20px;
}

.gender{
  margin: auto 30%
}

.accidents{
  display: flex;
  
}
.accidents .accidentsChart{
  margin-bottom: 20px;
  width: 40%;
  padding: 2%;
}